body      { font-family:Verdana; background:rgb(231,231,231); color:black }
a:link    { background:rgb(231,231,231); color:rgb(190,30,44) }
a:visited { background:rgb(231,231,231); color:rgb(190,30,44) }
a:active  { background:rgb(231,231,231); color:rgb(190,30,44) }
h1 { font-family:Verdana; color:rgb(190,30,44); text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black }

hr {
  width: 100%;
  height: 2px;
  margin-left: auto;
  margin-right: auto;
  color:rgb(108,231,232);
  background-color:rgb(108,231,232);
}

body table {
  font-size: 12px;
}

.dist-alert {
     border: medium solid red;
}
.dist-norm {
     border: none;
}


.navbar_select           { background:black; color:white; border-radius: 10px; }
.navbar_select a:link    { background:black; color:white }
.navbar_select a:visited { background:black; color:white }
.navbar_select a:active  { background:black; color:white }

.TopBanner { width:100%; }
.LogoDiv { position:absolute left:0px; width:100%; height:95; }
.AREDNLogo { background:rgb(231,231,231);  position:absolute; left:10%; width:175; height:95; border-style: none;}
.PartOfAREDN { font-family:Verdana; font-size:xx-small; text-align:center; }

/* Used to indicate AREDN node on the /cgi-bin/scan page */
.wscan-row-node { background-color: lightseagreen}

/* Tunnel Page Classes */
.tun_network_row td {
  padding: 5px;
  border: solid 1px black;
  border-radius: 10px;
  background-color: rgb(108,231,232);
}
#node_description_entry {                                                  
vertical-align: middle;                                        
resize: none;                                                  
}                                                              
#node_description_display {                                                                                        
text-align: center;
vertical-align: middle;
background-color: gainsboro;
font-size: 12pt;
width: 40%;   
}

