body      { background:white; color:black }
a:link    { background:white; color:blue }
a:visited { background:white; color:blue }
a:active  { background:white; color:blue }

.navbar_select           { background:black; color:white }
.navbar_select a:link    { background:black; color:white }
.navbar_select a:visited { background:black; color:white }
.navbar_select a:active  { background:black; color:white }

