body      { background:black; color:red }
a:link    { background:black; color:gray }
a:visited { background:black; color:gray }
a:active  { background:black; color:gray }

button { background-color:gray; font-weight:bold }
input  { background-color:gray; font-weight:bold }
option { background-color:gray; font-weight:bold }
select { background-color:gray; font-weight:bold }

.navbar_select           { background:red; color:black }
.navbar_select a:link    { background:red; color:black }
.navbar_select a:visited { background:red; color:black }
.navbar_select a:active  { background:red; color:black }


.TopBanner { width:100%; }
.LogoDiv { position:absolute left:0px; width:100%; height:95; }
.AREDNLogo { background:rgb(231,231,231);  position:absolute; left:10%; width:175; height:95; }
.PartOfAREDN { font-family:Verdana; font-size:xx-small; text-align:center; }
