body      { background:black; color:red }
a:link    { background:black; color:gray }
a:visited { background:black; color:gray }
a:active  { background:black; color:gray }

button { background-color:gray; font-weight:bold }
input  { background-color:gray; font-weight:bold }
option { background-color:gray; font-weight:bold }
select { background-color:gray; font-weight:bold }

.navbar_select           { background:red; color:black }
.navbar_select a:link    { background:red; color:black }
.navbar_select a:visited { background:red; color:black }
.navbar_select a:active  { background:red; color:black }

