body      { font-family:Verdana,arial,sans-serif; background: black; color:yellow }
a:link    { background: black; color: yellow }
a:visited { background: black; color: yellow }
a:active  { background: black; color: yellow }
h1 { font-family:Verdana,arial,sans-serif; color: yellow}

hr {
  width: 100%;
  height: 2px;
  margin-left: auto;
  margin-right: auto;
  color: yellow;
  background-color: black;
}

body table {
  font-size: 12px;
}

.dist-alert {
     border: medium solid red;
}
.dist-norm {
     border: none;
}
.navbar_select           { background:black; color:yellow }
.navbar_select a:link    { background:black; color:yellow }
.navbar_select a:visited { background:black; color:yellow }
.navbar_select a:active  { background:black; color:yellow }

.TopBanner { width:100%; }
.LogoDiv { position:absolute left:0px; width:100%; height:95; }
.AREDNLogo { background: white;  position:absolute; left:10%; width:175; height:95; }
.PartOfAREDN { font-family:Verdana,arial,sans-serif; font-size:xx-small; text-align:center; }

/* Tunnel Page Classes */
.tun_network_row td {
  padding: 5px;
  border: solid 1px black;
  border-radius: 10px;
  background-color: rgb(108,231,232);
}
.tun_client_row td {
  padding: 2px;
}
.tun_client_list1:nth-child(odd) {
  background: rgba(64,64,64,0.5)
}
.tun_client_list2:nth-child(even) {
  background: rgba(64,64,64,0.5)
}
.tun_client_center_item {
  vertical-align:middle;
  text-align:center;
}

#node_description_entry {
vertical-align: middle;
resize: none;
}
#node_description_display {
text-align: center;
vertical-align: middle;
background-color: dimgrey;
font-size: 12pt;
width: 40%;
}
.hidden-hosts {
  /* "silver" */
  color: #c0c0c0
}
.aliased-hosts {
  /* tan */
  color: #D2B48C;
}
