#m-all
{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    background-color: var(--body-bg-color);
}
#m-title
{
    display: flex;
    height: 80px;
    background-color: var(--nav-bg-color);
}
#m-title #icon-logo
{
    position: relative;
    top: 10px;
}
#m-main
{
    flex: 1;
    overflow-x: hidden;
    overflow-y: scroll;
}
#m-nav
{
    height: 80px;
    min-height: 80px;
    background-color: var(--nav-bg-color);
}

#m-main #main-container
{
    flex-direction: column;
}
#m-main #location .location-image
{
    width: 100%;
}
#m-main #location .location-image iframe
{
    width: 95%;
}
#m-main #local-and-neighbor-devices .stats
{
    min-width: 0px;
    flex: 1;
}
#m-main #local-and-neighbor-devices .h
{
    flex: 1;
}
#m-main #dhcp .t
{
   font-size: 12px;
}
#m-main #dhcp .ts
{
   font-size: 10px;
}

#m-nav .icon
{
    height: 100%;
    width: 70px;
    filter: var(--nav-icon-filter);
    background-position: center center;
    background-repeat: no-repeat;
}
#m-nav .icon.true
{
    filter: var(--nav-icon-filter-select);
}

body.mobile #ctrl-modal[open]
{
    height: 100%;
    max-height: 100%;
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 10px;
    border-radius: 0;
}
body.mobile #ctrl-modal > .dialog
{
    width: 100%;
    min-width: 100%;
}

body.mobile #ctrl-modal .ctrl-modal-footer button
{
    height: 34px;
    font-size: 24px;
}

body.mobile #download-firmware,
body.mobile #upload-firmware,
body.mobile #sideload-firmware,
body.mobile #download-package,
body.mobile #upload-package,
body.mobile #remove-package
{
    width: 160px
}
