@media (orientation: landscape) {
    html {
        transform: rotate(-90deg) scale(0.5);
        transform-origin: left top;
        width: 200vh;
        height: 400vh;
        overflow-x: hidden;
        position: absolute;
        top: 100%;
        left: 0;
    }
}

#m-all
{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    background-color: var(--body-bg-color);
}
#m-main
{
    flex: 1;
    overflow-x: hidden;
    overflow-y: scroll;
}
#m-nav
{
    height: 180px;
    min-height: 180px;
    padding: 10px;
    background-color: var(--nav-bg-color);
}

#m-main #main-container
{
    flex-direction: column;
    transform: scale(3,3) translate(33%, 33%);
    width: 33%;
}
#m-main #local-and-neighbor-devices .stats
{
    min-width: 0px;
}
#m-main #local-and-neighbor-devices .h
{
    flex: 0;
}
#m-main #dhcp .t
{
   font-size: 12px;
}
#m-main #dhcp .ts
{
   font-size: 10px;
}

#m-nav .icon
{
    height: 100%;
    width: 140px;
    filter: var(--nav-icon-filter);
    background-position: center center;
    background-repeat: no-repeat;
}
#m-nav .icon.true
{
    filter: var(--nav-icon-filter-select);
}
