:root
{
    --font-family: sans-serif;
    --font-base-size: 16px;
    --default-fg-color: #000000;
    --body-bg-color: #f8f8f8;
    --logo-fg-color: hsl(0, 0%, 38%);
    --nav-bg-color: #e8e8e8;
    --hr-color: #e0e0e0;
    --title-fg-color: #000000;
    --subtitle-fg-color: #606060;
    --section-title-fg-color: #606060;
    --section-subtitle-fg-color: #707070;
    --section-link-fg-color: #0078a8;
    --ctrl-bg-color-hover: #f0f0f0;
    --ctrl-modal-backdrop-color: rgba(0,0,0,0.7);
    --ctrl-modal-fg-color: #000000;
    --ctrl-modal-bg-color: #ffffff;
    --ctrl-modal-border-color: #202020;
    --ctrl-modal-border-color-error: hsl(0, 100%, 37%);
    --ctrl-modal-fg-title-color: #202020;
    --ctrl-modal-fg-subtitle-color: #606060;
    --ctrl-modal-fg-option-color: #000000;
    --ctrl-modal-fg-message-color: #606060;
    --ctrl-modal-fg-help-color: #404040;
    --ctrl-modal-textbox-bg-color: #f4f4f4;
    --ctrl-modal-textbox-border-color: #404040;
    --ctrl-modal-advance-options-color: #a0a0a0;
    --ctrl-modal-checkbox-color: #1010c0;
    --ctrl-modal-bg-secondary-color: #e0e0e0;
    --ctrl-modal-bg-tertiary-color: #d0d0d0;
    --firmware-status-fg-color: #f0f0f0;
    --firmware-status-bg-color-positive: #3994fd;
    --firmware-status-bg-color-negative: #bb8b00;
    --firmware-status-bg-color-other: #494cd6;
    --conn-fg-color-excellent: #3994fc;
    --conn-fg-color-good: #0079cd;
    --conn-fg-color-okay: #837071;
    --conn-fg-color-poor: #bb8b00;
    --conn-fg-color-bad: #f2b400;
    --conn-fg-color-idle: #a0a0a0;
    --service-fg-color-status: #f0f0f0;
    --service-bg-color-status-active: #3994fd;
    --service-bg-color-status-inactive: #808080;
    --service-bg-color-status-disabled: #bb8b00;
    --service-status-active-text: "ON";
    --service-status-inactive-text: "-";
    --service-status-disabled-text: "OFF";
    --tunnel-status-up-text: "UP";
    --icon-filter: none;
    --menu-fg-select-color: #1278a5;
    --nav-icon-filter: invert(75%) sepia(0%) saturate(1338%) hue-rotate(137deg) brightness(86%) contrast(87%);
    --nav-icon-filter-select: invert(30%) sepia(27%) saturate(4907%) hue-rotate(173deg) brightness(95%) contrast(102%);
    --map-filter: none;
    --meshpage-node-bg-color-hover: rgba(0,0,0,0.05);
    --meshpage-etx-fg-color: #808080;
    --meshpage-hostname-fg-color: #1278a5;
    --meshpage-service-hover-fg-color: #1278a5;
    --meshpage-block1-border-color: #3994fc;
    --meshpage-block2-border-color: #0079cd;
    --meshpage-block3-border-color: #837071;
    --meshpage-block5-border-color: #bb8b00;
    --meshpage-block10-border-color: #f2b400;
    --meshpage-block1000-border-color: #f2b400;
    --tunnel-fg-color: #f0f0f0;
    --tunnel-bg-wireguard-server-color: #ac0b0b;
    --tunnel-bg-wireguard-client-color: #88181a;
    --tunnel-bg-legacy-server-color: #101080;
    --tunnel-bg-legacy-client-color: #1010c0;
    --message-bg-color: #ffff85;
    --message-fg-color: #000000;
    --console-bg-color: #000000;
    --console-fg-color: #ffffff;
    --console-border-color: #000000;
}
