:root
{
    --font-family:  sans-serif;
    --default-fg-color: #d8d8d8;
    --body-bg-color: #282828;
    --logo-fg-color: hsl(0, 0%, 60%);
    --nav-bg-color: #181818;
    --hr-color: #808080;
    --title-fg-color: #e0e0e0;
    --subtitle-fg-color: #808080;
    --section-title-fg-color: #808080;
    --section-subtitle-fg-color: #909090;
    --section-link-fg-color: #0078a8;
    --ctrl-bg-color-hover: #202020;
    --ctrl-modal-backdrop-color: rgba(43, 32, 32, 0.7);
    --ctrl-modal-fg-color: #f0f0f0;
    --ctrl-modal-bg-color: #101010;
    --ctrl-modal-border-color: #404040;
    --ctrl-modal-border-color-error: hsl(0, 100%, 37%);
    --ctrl-modal-fg-title-color: #f0f0f0;
    --ctrl-modal-fg-subtitle-color: #808080;
    --ctrl-modal-fg-option-color: #f0f0f0;
    --ctrl-modal-fg-message-color: #808080;
    --ctrl-modal-fg-help-color: #808080;
    --ctrl-modal-textbox-bg-color: #282828;
    --ctrl-modal-textbox-border-color: #a0a0a0;
    --ctrl-modal-advance-options-color: #a0a0a0;
    --ctrl-modal-checkbox-color: #1010c0;
    --ctrl-modal-bg-secondary-color: #383838;
    --ctrl-modal-bg-tertiary-color: #2c2c2c;
    --firmware-status-fg-color: #f0f0f0;
    --firmware-status-bg-color-positive: #005500;
    --firmware-status-bg-color-negative: #900000;
    --firmware-status-bg-color-other: #494cd6;
    --conn-fg-color-excellent: #107410;
    --conn-fg-color-good: #005500;
    --conn-fg-color-okay: #005500;
    --conn-fg-color-poor: #005500;
    --conn-fg-color-bad: #900000;
    --conn-fg-color-idle: #c0c0c0;
    --service-fg-color-status: #f0f0f0;
    --service-bg-color-status-active: #356535;
    --service-bg-color-status-inactive: #808080;
    --service-bg-color-status-disabled: #900000;
    --icon-filter: invert(86%) sepia(86%) saturate(38%) hue-rotate(322deg) brightness(116%) contrast(69%);
    --menu-fg-select-color: #1278a5;
    --nav-icon-filter: invert(75%) sepia(0%) saturate(1338%) hue-rotate(137deg) brightness(86%) contrast(87%);
    --nav-icon-filter-select: invert(30%) sepia(27%) saturate(4907%) hue-rotate(173deg) brightness(95%) contrast(102%);
    --map-filter: grayscale(100%) invert(100%);
    --meshpage-node-bg-color-hover: rgba(0,0,0,0.15);
    --meshpage-etx-fg-color: #808080;
    --meshpage-hostname-fg-color: #1278a5;
    --meshpage-service-hover-fg-color: #1278a5;
    --meshpage-block1-border-color: green;
    --meshpage-block2-border-color: rgb(0, 122, 0);
    --meshpage-block3-border-color: rgb(161, 115, 0);
    --meshpage-block5-border-color: orange;
    --meshpage-block10-border-color: darkred;
    --meshpage-block1000-border-color: red;
    --tunnel-fg-color: #c0c0c0;
    --tunnel-bg-wireguard-server-color: #ac0b0b;
    --tunnel-bg-wireguard-client-color: #88181a;
    --tunnel-bg-legacy-server-color: #101080;
    --tunnel-bg-legacy-client-color: #1010c0;
    --message-bg-color: #ffff85;
    --message-fg-color: #000000;
    --console-bg-color: #000000;
    --console-fg-color: #ffffff;
    --console-border-color: #606060;
}
