CONFIG_TARGET_ar71xx=y
CONFIG_TARGET_ar71xx_generic=y
CONFIG_TARGET_MULTI_PROFILE=y
CONFIG_TARGET_DEVICE_ar71xx_generic_DEVICE_cpe210-v2=y
CONFIG_TARGET_DEVICE_ar71xx_generic_DEVICE_cpe210-v3=y
CONFIG_TARGET_DEVICE_ar71xx_generic_DEVICE_cpe220-v2=y
CONFIG_TARGET_DEVICE_ar71xx_generic_DEVICE_cpe220-v3=y
CONFIG_TARGET_DEVICE_ar71xx_generic_DEVICE_cpe210-220-v1=y
CONFIG_TARGET_DEVICE_ar71xx_generic_DEVICE_cpe510-520-v1=y
CONFIG_TARGET_DEVICE_ar71xx_generic_DEVICE_cpe510-v2=y
CONFIG_TARGET_DEVICE_ar71xx_generic_DEVICE_cpe510-v3=y
CONFIG_TARGET_DEVICE_ar71xx_generic_DEVICE_cpe610-v1=y
CONFIG_TARGET_DEVICE_ar71xx_generic_DEVICE_ubnt-airrouter=y
CONFIG_TARGET_DEVICE_ar71xx_generic_DEVICE_ubnt-bullet-m=y
CONFIG_TARGET_DEVICE_ar71xx_generic_DEVICE_ubnt-loco-m-xw=y
CONFIG_TARGET_DEVICE_ar71xx_generic_DEVICE_ubnt-nano-m-xw=y
CONFIG_TARGET_DEVICE_ar71xx_generic_DEVICE_ubnt-nano-m=y
CONFIG_TARGET_DEVICE_ar71xx_generic_DEVICE_ubnt-rocket-m-ti=y
CONFIG_TARGET_DEVICE_ar71xx_generic_DEVICE_ubnt-rocket-m-xw=y
CONFIG_TARGET_DEVICE_ar71xx_generic_DEVICE_ubnt-rocket-m=y
CONFIG_TARGET_DEVICE_ar71xx_generic_DEVICE_ubnt-lbe-m5=y
CONFIG_HAS_SUBTARGETS=y
CONFIG_HAS_DEVICES=y
CONFIG_TARGET_BOARD="ar71xx"
CONFIG_TARGET_SUBTARGET="generic"
CONFIG_TARGET_ARCH_PACKAGES="mips_24kc"
CONFIG_DEFAULT_TARGET_OPTIMIZATION="-Os -pipe -mno-branch-likely -mips32r2 -mtune=24kc"
CONFIG_CPU_TYPE="24kc"
CONFIG_LINUX_4_9=y

