CONFIG_TARGET_ar71xx=y
CONFIG_TARGET_ar71xx_nand=y
CONFIG_TARGET_MULTI_PROFILE=y
#CONFIG_TARGET_DEVICE_ar71xx_nand_DEVICE_mrz1=n
CONFIG_TARGET_DEVICE_ar71xx_nand_DEVICE_mr18=y
CONFIG_HAS_SUBTARGETS=y
CONFIG_HAS_DEVICES=y
CONFIG_TARGET_BOARD="ar71xx"
CONFIG_TARGET_SUBTARGET="nand"
CONFIG_TARGET_PROFILE="DEVICE-mr18"
CONFIG_TARGET_ARCH_PACKAGES="mips_24kc"
CONFIG_DEFAULT_TARGET_OPTIMIZATION="-Os -pipe -mno-branch-likely -mips32r2 -mtune=24kc"
CONFIG_CPU_TYPE="24kc"
