CONFIG_TARGET_ar71xx=y
CONFIG_TARGET_ar71xx_mikrotik=y
CONFIG_TARGET_MULTI_PROFILE=y
CONFIG_TARGET_SUBTARGET=mikrotik
CONFIG_TARGET_DEVICE_ar71xx_mikrotik_DEVICE_nand-large=y
CONFIG_TARGET_DEVICE_ar71xx_mikrotik_DEVICE_rb-nor-flash-16M-ac=y
CONFIG_TARGET_DEVICE_ar71xx_mikrotik_DEVICE_rb-nor-flash-16M=y
CONFIG_DEFAULT_ath10k-firmware-qca9887=y
CONFIG_DEFAULT_ath10k-firmware-qca988x=y
CONFIG_DEFAULT_kmod-ath10k=y
CONFIG_DEFAULT_kmod-ledtrig-gpio=y
CONFIG_DEFault_kmod-usb-ehci=y
CONFIG_DEFAULT_rssileds=y
CONFIG_PACKAGE_rbcfg=y
