CONFIG_TARGET_ath79=y
CONFIG_TARGET_ath79_mikrotik=y
CONFIG_TARGET_DEVICE_ath79_mikrotik_DEVICE_mikrotik_routerboard-921gs-5hpacd-15s=y
CONFIG_TARGET_DEVICE_ath79_mikrotik_DEVICE_mikrotik_routerboard-921gs-5hpacd-19s=y
CONFIG_TARGET_DEVICE_ath79_mikrotik_DEVICE_mikrotik_routerboard-922uags-5hpacd=y

#
# Mikrotik use initramfs to install
#
CONFIG_TARGET_ROOTFS_INITRAMFS=y
#
# DEVICE_PACKAGES are not included in the initramfs, but for these devices we need
# extra packages pre-installed to successfully install sysupgrade.
#
CONFIG_PACKAGE_ath10k-board-qca988x=y
CONFIG_PACKAGE_ath10k-firmware-qca988x-ct=y
CONFIG_PACKAGE_kmod-ath10k-ct=y
CONFIG_PACKAGE_nand-utils=y
