CONFIG_TARGET_ath79=y
CONFIG_TARGET_ath79_mikrotik=y
CONFIG_TARGET_DEVICE_ath79_mikrotik_DEVICE_mikrotik_routerboard-911g-5hpnd-qrt=y
CONFIG_TARGET_DEVICE_ath79_mikrotik_DEVICE_mikrotik_routerboard-912uag-2hpnd=y
CONFIG_TARGET_DEVICE_ath79_mikrotik_DEVICE_mikrotik_routerboard-912uag-5hpnd=y
CONFIG_TARGET_DEVICE_ath79_mikrotik_DEVICE_mikrotik_routerboard-911g-2hpnd-12s=y

#
# Mikrotik use initramfs to install
#
CONFIG_TARGET_ROOTFS_INITRAMFS=y
#
# DEVICE_PACKAGES are not included in the initramfs, but for these devices we need
# extra packages pre-installed to successfully install sysupgrade.
#
CONFIG_PACKAGE_nand-utils=y
