CONFIG_TARGET_ath79=y
CONFIG_TARGET_ath79_tiny=y
CONFIG_TARGET_DEVICE_ath79_tiny_DEVICE_ubnt_airrouter=y
CONFIG_TARGET_DEVICE_ath79_tiny_DEVICE_ubnt_bullet-m-ar7241=y
CONFIG_TARGET_DEVICE_ath79_tiny_DEVICE_ubnt_nanostation-loco-m=y
CONFIG_TARGET_DEVICE_ath79_tiny_DEVICE_ubnt_nanobridge-m=y
CONFIG_TARGET_DEVICE_ath79_tiny_DEVICE_ubnt_nanostation-m=y
CONFIG_TARGET_DEVICE_ath79_tiny_DEVICE_ubnt_picostation-m=y

# Overrides to save as much space as we can
CONFIG_KERNEL_CC_STACKPROTECTOR_NONE=y
CONFIG_KERNEL_PRINTK=n
CONFIG_PACKAGE_ATH_SPECTRAL=n
CONFIG_PACKAGE_dropbear=m
CONFIG_PACKAGE_ethtool=m
CONFIG_PACKAGE_iperf3=m
CONFIG_PACKAGE_libustream-mbedtls=m
CONFIG_PACKAGE_kmod-wireguard=m
CONFIG_PACKAGE_vtun=m
CONFIG_PACKAGE_wireguard=m
CONFIG_PACKAGE_wireguard-tools=m
CONFIG_PACKAGE_wpad-mini=m
CONFIG_PKG_CC_STACKPROTECTOR_NONE=y
CONFIG_PKG_FORTIFY_SOURCE_NONE=y
