CONFIG_TARGET_ath79=y
CONFIG_TARGET_ath79_tiny=y
CONFIG_TARGET_DEVICE_ath79_tiny_DEVICE_ubnt_bullet-m-ar7241=y
CONFIG_TARGET_DEVICE_ath79_tiny_DEVICE_ubnt_nanobridge-m=y
CONFIG_TARGET_DEVICE_ath79_tiny_DEVICE_ubnt_nanostation-m=y
CONFIG_TARGET_DEVICE_ath79_tiny_DEVICE_ubnt_rocket-m=y
# Overrides
CONFIG_PACKAGE_wpad-basic=n
CONFIG_PACKAGE_wpad-basic-wolfssl=n
