CONFIG_ATH_USER_REGD=y
CONFIG_ALL=y
CONFIG_PACKAGE_airrouterusb=n
CONFIG_PACKAGE_bridge=y
CONFIG_PACKAGE_busybox=y
CONFIG_PACKAGE_dnsmasq=y
CONFIG_PACKAGE_dropbear=y
CONFIG_PACKAGE_iptables=y
CONFIG_PACKAGE_kmod-ipt-nathelper=y
CONFIG_PACKAGE_kmod-usb-core=y
CONFIG_PACKAGE_kmod-usb-uhci=y
CONFIG_PACKAGE_kmod-usb2=y
CONFIG_PACKAGE_libgcc=y
CONFIG_PACKAGE_mtd=y
CONFIG_PACKAGE_ppp=y
CONFIG_PACKAGE_ppp-mod-pppoe=y
CONFIG_PACKAGE_uhttpd=y
CONFIG_PACKAGE_olsrd=y
CONFIG_PACKAGE_perl=y
CONFIG_PACKAGE_olsrd-mod-arprefresh=y
CONFIG_PACKAGE_olsrd-mod-dyn-gw=y
CONFIG_PACKAGE_olsrd-mod-httpinfo=y
CONFIG_PACKAGE_olsrd-mod-nameservice=y
CONFIG_PACKAGE_olsrd-mod-txtinfo=y
CONFIG_PACKAGE_olsrd-mod-jsoninfo=y
CONFIG_PACKAGE_olsrd-mod-dot-draw=y
CONFIG_PACKAGE_olsrd-mod-watchdog=y
CONFIG_PACKAGE_olsrd-mod-secure=y
CONFIG_PACKAGE_perlbase-essential=y
CONFIG_PACKAGE_perlbase-xsloader=y
CONFIG_PACKAGE_perlbase-file=y
CONFIG_PACKAGE_perlbase-perlio=y
CONFIG_PACKAGE_libpcap=y
CONFIG_PACKAGE_tcpdump-mini=y
CONFIG_PACKAGE_ntpclient=y
CONFIG_PACKAGE_xinetd=y
CONFIG_PACKAGE_kmod-ipv6=y
CONFIG_PACKAGE_ip6tables=y
CONFIG_PACKAGE_kmod-ip6tables=y
CONFIG_PACKAGE_libip6tc=y
CONFIG_PACKAGE_ip=y
CONFIG_PACKAGE_iptables-mod-ipopt=y
CONFIG_PACKAGE_iwinfo=y
CONFIG_PACKAGE_libiwinfo=y
CONFIG_PACKAGE_socat=y
CONFIG_PACKAGE_ntpclient=y
CONFIG_PACKAGE_curl=y
