CONFIG_KERNEL_CRASHLOG=n
CONFIG_KERNEL_SWAP=n
CONFIG_KERNEL_KALLSYMS=n
CONFIG_KERNEL_DEBUG_INFO=n
CONFIG_KERNEL_ELF_CORE=n
CONFIG_KERNEL_MAGIC_SYSRQ=n
CONFIG_PACKAGE_MAC80211_MESH=n
CONFIG_STRIP_KERNEL_EXPORTS=y
CONFIG_USE_MKLIBS=y
CONFIG_LOG_BUF_SHIFT=16
CONFIG_LOG_CPU_MAX_BUF_SHIFT=16
CONFIG_KERNEL_IPV6=n
CONFIG_KERNEL_IPV6_MULTIPLE_TABLES=n
CONFIG_KERNEL_IPV6_SUBTREES=n
CONFIG_KERNEL_IPV6_MROUTE=n
CONFIG_KERNEL_CC_OPTIMIZE_FOR_SIZE=y
CONFIG_PKG_FORTIFY_SOURCE_NONE=y
CONFIG_PKG_CC_STACKPROTECTOR_NONE=y
CONFIG_KERNEL_CC_STACKPROTECTOR_NONE=y
CONFIG_PACKAGE_libustream-wolfssl=n
CONFIG_LIBCURL_NOSSL=y
CONFIG_IPV6=n
CONFIG_ATH_USER_REGD=y
CONFIG_PACKAGE_bridge=y
CONFIG_PACKAGE_busybox=y
CONFIG_BUSYBOX_CUSTOM=y
CONFIG_BUSYBOX_DEFAULT_FEATURE_IPV6=n
CONFIG_BUSYBOX_CONFIG_FEATURE_IPV6=n
CONFIG_BUSYBOX_CONFIG_TELNETD=y
CONFIG_BUSYBOX_DEFAULT_MKSWAP=n
CONFIG_BUSYBOX_CONFIG_MKSWAP=n
CONFIG_BUSYBOX_CONFIG_FEATURE_TOP_INTERACTIVE=y
CONFIG_PACKAGE_dnsmasq=y
CONFIG_PACKAGE_dropbear=y
CONFIG_PACKAGE_iperf3=m
CONFIG_PACKAGE_iptables=y
CONFIG_PACKAGE_kmod-ipt-nathelper=y
CONFIG_PACKAGE_kmod-usb-core=m
CONFIG_PACKAGE_kmod-usb-ehci=m
CONFIG_PACKAGE_kmod-usb-ohci=m
CONFIG_PACKAGE_kmod-usb-uhci=m
CONFIG_PACKAGE_kmod-usb2=m
CONFIG_PACKAGE_kmod-usb3=m
CONFIG_PACKAGE_block-mount=m
CONFIG_PACKAGE_kmod-fs-vfat=m
CONFIG_PACKAGE_kmod-fs-ntfs=m
CONFIG_PACKAGE_kmod-fs-ext4=m
CONFIG_PACKAGE_e2fsprogs=m
CONFIG_PACKAGE_kmod-usb-storage=m
CONFIG_PACKAGE_kmod-usb-storage-extras=m
CONFIG_PACKAGE_kmod-usb-storage-uas=m
CONFIG_PACKAGE_libgcc=y
CONFIG_PACKAGE_mtd=y
CONFIG_PACKAGE_ppp=n
CONFIG_PACKAGE_ppp-mod-pppoe=n
CONFIG_PACKAGE_odhcp6c=n
CONFIG_PACKAGE_odhcpd=n
CONFIG_PACKAGE_odhcpd-ipv6only=n
CONFIG_PACKAGE_kmod-ppp=n
CONFIG_PACKAGE_kmod-pppoe=n
CONFIG_PACKAGE_kmod-pppox=n
CONFIG_PACKAGE_uhttpd=y
CONFIG_PACKAGE_olsrd=y
CONFIG_PACKAGE_perl=y
CONFIG_PACKAGE_olsrd-mod-arprefresh=y
CONFIG_PACKAGE_olsrd-mod-dyn-gw=y
CONFIG_PACKAGE_olsrd-mod-nameservice=y
CONFIG_PACKAGE_olsrd-mod-txtinfo=y
CONFIG_PACKAGE_olsrd-mod-jsoninfo=y
CONFIG_PACKAGE_olsrd-mod-dot-draw=y
CONFIG_PACKAGE_olsrd-mod-watchdog=y
CONFIG_PACKAGE_olsrd-mod-secure=m
CONFIG_PACKAGE_perlbase-essential=y
CONFIG_PACKAGE_perlbase-xsloader=y
CONFIG_PACKAGE_perlbase-file=y
CONFIG_PACKAGE_perlbase-perlio=y
CONFIG_PACKAGE_libpcap=m
CONFIG_PACKAGE_tcpdump-mini=m
CONFIG_PACKAGE_ntpclient=y
CONFIG_PACKAGE_xinetd=y
CONFIG_PACKAGE_kmod-ipv6=n
CONFIG_PACKAGE_ip6tables=n
CONFIG_PACKAGE_kmod-ip6tables=n
CONFIG_PACKAGE_libip6tc=n
CONFIG_PACKAGE_ip=y
CONFIG_PACKAGE_iptables-mod-ipopt=y
CONFIG_PACKAGE_iwinfo=y
CONFIG_PACKAGE_libiwinfo=y
CONFIG_PACKAGE_socat=y
CONFIG_PACKAGE_ntpclient=y
CONFIG_PACKAGE_curl=y
CONFIG_PACKAGE_libnetsnmp=m
CONFIG_PACKAGE_snmpd=m
CONFIG_PACKAGE_lua=y
CONFIG_PACKAGE_liblua=y
CONFIG_PACKAGE_libuci-lua=y
CONFIG_PACKAGE_libubus-lua=y
CONFIG_PACKAGE_luci-base=y
CONFIG_PACKAGE_luci-lib-nixio=y
CONFIG_PACKAGE_luci-lib-ip=y
CONFIG_PACKAGE_luci-lib-jsonc=y
CONFIG_PACKAGE_libc=y
CONFIG_PACKAGE_libjson-c=y
CONFIG_PACKAGE_libnl_tiny=y
CONFIG_PACKAGE_libiwinfo-lua=y
CONFIG_PACKAGE_luaposix=y
CONFIG_PACKAGE_luasocket=y
CONFIG_PACKAGE_vtun=m
CONFIG_PACKAGE_kmod-ipip=y
CONFIG_IMAGEOPT=y
CONFIG_VERSIONOPT=y
CONFIG_VERSION_DIST="AREDN"
CONFIG_PACKAGE_ATH_DYNACK=y
CONFIG_PACKAGE_ATH_DEBUG=y
CONFIG_PACKAGE_blockknownencryption=m
CONFIG_PREINITOPT=y
CONFIG_TARGET_PREINIT_DISABLE_FAILSAFE=y
CONFIG_VTUN_SSL=n
CONFIG_PACKAGE_ethtool=y

