CONFIG_TARGET_ramips=y
CONFIG_TARGET_ramips_mt7621=y
CONFIG_TARGET_ramips_mt7621_DEVICE_morse_artini=y
#
# Morse Micro
#
CONFIG_FEED_morse=y
CONFIG_PACKAGE_iwinfo=y
CONFIG_PACKAGE_kmod-leds-pwm-multicolor=y
CONFIG_PACKAGE_kmod-mmc-mtk=y
CONFIG_PACKAGE_kmod-morse=y
CONFIG_PACKAGE_libiwinfo=y
CONFIG_PACKAGE_morse-board-config=y
CONFIG_PACKAGE_morse-board-config-hotplug-model=y
CONFIG_PACKAGE_morse-fw=y
CONFIG_PACKAGE_morse-fw-6108=y
CONFIG_PACKAGE_morse-led-artini=y
CONFIG_PACKAGE_morse-regdb=y
CONFIG_PACKAGE_mt7603e-txpat-artini=y
CONFIG_PACKAGE_netifd-morse=y
