CONFIG_TARGET_ramips=y
CONFIG_TARGET_ramips_mt76x8=y
CONFIG_TARGET_DEVICE_ramips_mt76x8_DEVICE_morse_ekh03v3=y
CONFIG_TARGET_DEVICE_ramips_mt76x8_DEVICE_alfa-network_tube-ahm-r0c=y
#
# Morse Micro
#
CONFIG_FEED_morse=y
CONFIG_MORSE_SDIO_ALIGNMENT=8
CONFIG_PACKAGE_iwinfo=y
CONFIG_PACKAGE_kmod-mmc-mtk=y
CONFIG_PACKAGE_kmod-morse=y
CONFIG_PACKAGE_libiwinfo=y
CONFIG_PACKAGE_morse-board-config=y
CONFIG_PACKAGE_morse-board-config-hotplug-model=y
CONFIG_PACKAGE_morse-fw=y
CONFIG_PACKAGE_morse-fw-6108=y
CONFIG_PACKAGE_morse-regdb=y
CONFIG_PACKAGE_mt7603e-txpat-artini=y
CONFIG_PACKAGE_netifd-morse=y
#
# Extra
#
CONFIG_PACKAGE_morsemicro-bcf=y
